{% extends "BM/base.html" %}
{% load i18n %}
{% block title %} Basket Manager - Index {% endblock %}

{%block header %}

{% endblock%}

{%block content %}
	<div class="sub_section_1">
		<br/>
		<br/>
		<div class="rules">
			<h2>{%trans "General"%} <span class="text-muted">{%trans "rules:" %}</span></h2>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum leo ligula. 
			</p>
			<p>
				Aliquam id malesuada nisi, ac semper nisl. Phasellus ullamcorper tellus sed volutpat eleifend. Ut faucibus augue nec tortor sagittis, sit amet varius risus mattis. Vestibulum vel risus sit amet nulla volutpat hendrerit vitae ac arcu. Nunc venenatis urna neque, vel fermentum eros vehicula at. Nam laoreet dui massa, id sagittis sem cursus a. Maecenas tristique mattis porta. Donec a urna pellentesque, consectetur dui ut, semper neque. Nulla lobortis pharetra dolor in commodo. Nullam in ante libero.
			</p>
			<dl class="dl-horizontal">
			  <dt>Nulla hendrerit</dt>
			  <dd>Etiam sed risus sed mauris iaculis feugiat. Suspendisse venenatis erat elit, et porttitor dolor congue id. Vivamus pharetra risus ac tellus vestibulum, ut suscipit dui pulvinar.</dd>
			  <dt>Ut ipsum nunc</dt>
			  <dd>Sed dolor est, laoreet vitae odio eu, sodales bibendum metus. Aliquam non magna id ipsum venenatis auctor et sit amet tortor. Ut nec nisl purus. Ut ipsum nunc, laoreet et magna non, interdum molestie erat. Donec quis bibendum velit, non bibendum turpis. Nulla hendrerit varius orci ac feugiat. Etiam sed risus sed mauris iaculis feugiat.</dd>
			  <dt>Suspendisse</dt>
			  <dd>Fusce cursus felis vel tellus suscipit volutpat. Sed dolor est, laoreet vitae odio eu, sodales bibendum metus. Aliquam non magna id ipsum venenatis auctor et sit amet tortor</dd>
			</dl>
			<p>
				Fusce ullamcorper vel risus sed molestie. Fusce cursus felis vel tellus suscipit volutpat. Sed dolor est, laoreet vitae odio eu, sodales bibendum metus. Aliquam non magna id ipsum venenatis auctor et sit amet tortor. Ut nec nisl purus. Ut ipsum nunc, laoreet et magna non, interdum molestie erat. Donec quis bibendum velit, non bibendum turpis. Nulla hendrerit varius orci ac feugiat. Etiam sed risus sed mauris iaculis feugiat. Suspendisse venenatis erat elit, et porttitor dolor congue id. Vivamus pharetra risus ac tellus vestibulum, ut suscipit dui pulvinar. Mauris tellus ipsum, tincidunt id congue at, gravida eu nunc. Integer gravida sollicitudin felis eget vulputate. <span class="text-danger">Nunc ut accumsan mi</span>. Nulla facilisi.
			</p>
			<blockquote>
			  <p>Nunc id scelerisque dolor, vel consectetur odio.</p>
			</blockquote>
			<p>
				 Pellentesque consectetur, risus at placerat lacinia, arcu neque porta leo, id ornare erat ante sit amet erat. Suspendisse eget sem vehicula, placerat mi ac, aliquet est. Sed aliquet eros et porta aliquam. Cras pulvinar sem sed dui accumsan, id dapibus justo fermentum. Nulla eu sem quam. Phasellus fermentum feugiat quam ac mattis. Curabitur rhoncus gravida feugiat. Donec sagittis rutrum ornare. Fusce vestibulum faucibus auctor. Cras euismod neque ut risus dapibus, a aliquam lacus pulvinar. Cras fermentum laoreet metus, et porta felis aliquam ut.
			</p>
			
			<br/>
			<br/>
			<address>
			  <strong>Abtuanet SLL</strong><br>
			  Calle Melancolía, 16 5ºF<br>
			  A Coruña, 15005<br>
			  España<br/>
			  <abbr title="Phone">Tlf:</abbr> 981-981-981<br/>
			  <abbr title="EMail">E-Mail:</abbr><a href="mailto:#">info@abtuanet.com</a>
			</address>

		</div>
	</div>

{% endblock%}