{% extends "BM/base.html" %}
{% load i18n %}
{% block title %} Basket Manager - Index {% endblock %}

{%block header %}

{% endblock%}

{%block content %}
	<div class="sub_section_1">
		<h2>{%trans "Update Team:" %}<span class="text-muted">{%trans "Lakers" %}</span></h2>
			<div class="filter_player">
				<button class="btn">{%trans "Bases" %}</button>
				<button class="btn">{%trans "Aleros" %}</button>
				<button class="btn">{%trans "Pivots" %}</button>
			</div>
		<div class="get_players">
			<div class="span8">
				<table class="table table-striped table-bordered table-condensed table-responsive">
					<tr>
						<th>{%trans "Player" %}</th>
						<th>{%trans "Team" %}</th>
						<th>{%trans "State" %}</th>
						<th>{%trans "Current Quote" %}</th>
						<th>{%trans "Valuation Day" %}</th>
						<th>{%trans "Valuation General" %}</th>
						<th></th>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
					<tr>
						<td>Pau Gasol</td>
						<td>Los Angeles Lakers</td>
						<td>Activo</td>
						<td>526</td>
						<td>425</td>
						<td>481</td>
						<td><button class="btn btn-primary">{%trans "Sign Up" %}</button></td>
					</tr>
				</table>
			</div>
			
			<div class="create_team span3">
				<table class="table table-bordered table-condensed table-responsive">
					<tr>
						<td>
							<center>
								<h3>Team name: <span class="text-muted">{%trans "Lakers" %}</span></h3>
								<button class="btn btn-primary span2">{%trans "Save Changes" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<h4>{%trans "Money" %}</h4>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<h4>{%trans "Bases" %}</span></h4>
								<button class="btn span2">{%trans "Player 1" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
								<br/><br/>
								<button class="btn span2">{%trans "Player 2" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<h4>{%trans "Aleros" %}</span></h4>
								<button class="btn span2">{%trans "Player 3" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
								<br/><br/>
								<button class="btn span2">{%trans "Player 4" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
								<br/><br/>
								<button class="btn span2">{%trans "Player 5" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
								<br/><br/>
								<button class="btn span2">{%trans "Player 6" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<h4>{%trans "Pivots" %}</span></h4>
								<button class="btn span2">{%trans "Player 7" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
								<br/><br/>
								<button class="btn span2">{%trans "Player 8" %}</button><a href="/"><span class="glyphicon glyphicon-remove"></span></a>
							</center>
							
						</td>
					</tr>	
				</table>
			</div>				
		</div>
	</div>

{% endblock%}